
@{
    ViewBag.Title = "Thx";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="text-success mt-100">
    <h1>Satın alımınız için teşekkür ederiz.Kargo takip numarası en kısa sürede size ulaştırılacak. <i class="fas fa-check-circle"></i></h1>
</div>

