
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<br />
<h5>Kategoriler Sekmesi</h5>
<p>Burada tüm kategorileri alt alta listeler herhangi bir kategoriye gidildiği zaman o kategorideki ürünleri listeler</p>

<h5>Tüm ürünler sekmesi</h5>
<p>Veritabanına kayıtlı bütün ürünleri listeler</p>

<h5>Satın alımlar  sekmesi</h5>
<p>Satılmış tüm ürünleri ve satın alan kişiyi gösterir.</p>


<h5>Satın al</h5>
<p>Ürün satın alırsınız. Ancak üyelik oluştumanız gerekli</p>

