<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">TelApp</h1>
            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, odit temporibus? Tempora nobis accusantium, fuga vel nisi assumenda facilis omnis commodi saepe maiores eligendi ab dolorum quod id cum repellat!</p>
        </div>
    </div>
</header>