@model StokSatisWithMVC.Models.Entity.TBLSATIS
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2">
    Satış Yap
</button>

<div class="modal" id="Modal2">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    Satış Yapma Ekranı
                </h2>
            </div>
            <form method="post" action="YeniSatis">
                <div class="modal-body">
                    <label>
                        Ürün id
                    </label>

                    @Html.TextBoxFor(m => m.URUN, new { @class = "form-control" })

                    <br />

                    <label>
                        Müşteri id
                    </label>
                    @Html.TextBoxFor(m => m.MUSTERI, new { @class = "form-control" })

                    <br />

                    <label>
                        Kaç Adet
                    </label>
                    @Html.TextBoxFor(m => m.ADET, new { @class = "form-control" })

                    <br />

                    <label>
                        Fiyatı
                    </label>
                    @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })

                    <br />

                    <button class="btn btn-info">Verileri Kaydet</button>
                    <button class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                </div>
            </form>
        </div>
    </div>

</div>

