@model StokSatisWithMVC.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "GUNCELLE";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using (Html.BeginForm("Guncellendi", "Kategori", FormMethod.Post))
            {
<div class="form-group">
    @Html.LabelFor(m => m.KATEGORIID)
    @Html.TextBoxFor(m => m.KATEGORIID, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.KATEGORINAME)
    @Html.TextBoxFor(m => m.KATEGORINAME, new { @class = "form-control" })
    <br />
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
</div>
            }


