@using StokSatisWithMVC.Models.Entity
@model PagedList.IPagedList<TBLKATEGORI>
@using PagedList;
@using PagedList.Mvc; 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Kategori id</th>
        <th>Kategori adı</th>
        <th>Kategori sil</th>
        <th>Kategori güncelle</th>
    </tr>
    <tbody>
        @foreach(var item in Model)
            {
        <tr>
            <th>
                @item.KATEGORIID
            </th>
            <td>
                @item.KATEGORINAME
            </td>
            <td>
                <a href="/KATEGORI/SIL/@item.KATEGORIID" class="btn btn-danger">Sil</a>
            </td>
            <td>
                <a href="/KATEGORI/GUNCELLE/@item.KATEGORIID" class="btn btn-success">GUNCELLE</a>
            </td>
        </tr>
            }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new {sayfa}))

<a href="/KATEGORI/YeniKategori/" class="btn btn-primary">Yeni Kategori Ekle</a>