
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="KATEGORINAME"/>
    </div>
    <div>
        <button style="margin-top:15px" class="btn btn-info">Kategori Ekle</button>
    </div>
</form>