
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Teknoloji Marketim Uygulaması</h1>
<h6>Adnan Furkan AKTEMUR || SAKARYA ÜNİVERSİTESİ BİLGİSAYAR MÜHENDİSLİĞİ</h6>
<h6>Kullanılan veri tabanı backup dosyası olarak proje içerisine eklenmiştir.</h6>
