
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group mt-100">
    <h4>Kayıt Oluştur</h4>
    <label>İsminiz</label>
    <input type="text" class="form-control" required name="MUSTERIAD" />
    <label>Soyisminiz</label>
    <input type="text" class="form-control" required name="MUSTERISOYAD" />
    <button class="btn btn-success">KAYDET</button>
</form>

