
@{
    ViewBag.Title = "YeniMusteriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>MÜŞTERİ İSMİ</label>
        <input type="text" class="form-control" name="MUSTERIAD" />
        <label>MÜŞTERİ SOYİSMİ</label>
        <input type="text" class="form-control" name="MUSTERISOYAD" />
    </div>
    <div>
        <button style="margin-top:15px" class="btn btn-info">Kaydet</button>
    </div>
</form>

